$title-size: 24px;
$mobile-title-size: 20px;

.ds-content-box{
    position: relative;
    &__heading{
        top: 14px;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .ds-deco-line--right{
            width: 50px;
        }
        .ds-deco-line--left{
            width: 100%;
        }
    }
    &__title{
        margin: 0 30px;
        color: white;
        font-size: $title-size;
        white-space: nowrap;
        text-shadow: 0 1px 30px rgba(64, 13, 38, 1);
    }
    &__body{
        color: white;
        padding: 30px 20px 20px 20px;
        text-align: justify;
        &--bg{
            background: -webkit-linear-gradient(#23282f 27%, #0c0b10);
            background: -o-linear-gradient(#23282f 27%, #0c0b10);
            background: linear-gradient(#23282f 27%, #0c0b10);
        }
    }
}

.ds-deco-line{
    height: 3px;
    background: #82003a;
}

@media screen and (max-width: 768px){
    .ds-content-box{
        position: relative;
        &__heading{
            top: 12px;
            position: relative;
            flex-wrap: nowrap;
            align-items: center;
            text-align: center;
            .ds-deco-line--right{
                width: 100%;
            }
            .ds-deco-line--left{
                width: 100%;
            }
        }
        &__title{
            width: 100%;
            margin: 0 30px;
            color: white;
            font-size: $mobile-title-size;
        }
        &__body{
            color: white;
            font-size: 13px;
            padding: 30px 0 0 0;
            text-align: justify;
            &--bg{
                background: -webkit-linear-gradient(#23282f 27%, #0c0b10);
                background: -o-linear-gradient(#23282f 27%, #0c0b10);
                background: linear-gradient(#23282f 27%, #0c0b10);
            }
        }
    }
}