<form class="ds-contact-form">
  <div class="form-group">
    <label for="name">
      <input type="text" id="name" class="ds-input form-control" placeholder="Name"/>
    </label>
  </div>
  <div class="form-group">
    <label for="mail">
      <input type="text" id="mail" class="ds-input form-control" placeholder="Email"/>
    </label>
  </div>
  <div class="form-group">
    <label for="mail">
      <input type="text" id="topic" class="ds-input form-control" placeholder="Topic"/>
    </label>
  </div>
  <div class="form-group">
    <label for="mail">
      <textarea type="text" id="message" class="ds-input ds-input--textarea form-control" placeholder="Message"></textarea>
    </label>
  </div>
  <button class="btn btn-primary ds-button" type="submit">Send</button>
</form>