.map-list{
    z-index: 999;
    top: 0;
}

.map-list-container{
    width: 120px;
    position: relative;
}

.map-item{
    position: relative;
    width: 30px;
    height: 20px;
    display: block;
    background: red;
    margin: 30px;
}

.map-expand-list{
    position: absolute;
    z-index: 9999;
    top: 30px;
    &-item{
        width: 30px;
        height: 0;
        background: red;
        display: block;
        margin: 30px;
        transition: all 0.5s ease;
    }
}

.open .map-expand-list-item{
    height: 20px;
}