<header class="ds-header">
  <ds-logo></ds-logo>
  <ds-navigation class="clearfix"></ds-navigation>
  <ds-map-list></ds-map-list>
</header>
<section>
  <ds-image-carousel></ds-image-carousel>
</section>
<section>
  <h1>PRODUKTION</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum impedit numquam nobis, accusantium sunt est explicabo voluptatibus, saepe eligendi soluta architecto officiis mollitia. Unde, cupiditate, ipsa. Totam, autem aspernatur?</p>
</section>
<section>
  <div class="row">
    <div class="col-6">
      
    </div>
    <div class="col-6">
      <img src="http://placehold.it/500x500"/>
    </div>
  </div>
</section>