.slick-slide {
    img {
        display: inline-block;
        width: 200px;
    }
}

.ds-image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    img{
        max-height: 100px;
        margin: 5px 0;
    }
}