.ds-logo{
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 999;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
    img{
        width: 80%;
        margin: 10px 0;
    }
}