<div class="carousel">
    <ngx-slick #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="slide-content">
                <div class="container">
                    <div class="row ds-content-centered">
                        <div class="col-md-6">
                            <ds-content-box class="ds-content-box-bg" [title]="'FEINSTE SEIDE'">
                                <p>{{ slide.text }}</p>
                            </ds-content-box>
                        </div>
                        <div class="col-md-6 center ds-content-img-container">
                            <div class="ds-content-img" [ngStyle]="{'background-image': 'url(' + slide.img + ')'}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick>
    <div *ngIf="1 < slides.length">
        <div class="carousel-button__container carousel-button__container--prev">
            <button class="carousel-button"><span class="glyphicon glyphicon-menu-left"></span></button>
        </div>
        <div class="carousel-button__container carousel-button__container--next">
            <button class="carousel-button"><span class="glyphicon glyphicon-menu-right"></span></button>
        </div>
    </div>
</div>