<nav class="ds-nav">
  <ul class="ds-nav-list">
    <li class="ds-nav-list__item"><a href="#" class="ds-nav-list__link">Home</a></li>
    <li class="ds-nav-list__item"><a href="#production" class="ds-nav-list__link">Produktion</a></li>
    <li class="ds-nav-list__item"><a href="#products" class="ds-nav-list__link">Produkte</a></li>
    <li class="ds-nav-list__item"><a href="#about" class="ds-nav-list__link">Über uns</a></li>
    <li class="ds-nav-list__item"><a href="#contact" class="ds-nav-list__link">Kontakt</a></li>
  </ul>
</nav>