<nav class="ds-nav" [ngClass]="{'is-open': menuOpen}">
  <ul class="ds-nav-list">
    <li class="ds-nav-list__item" (click)="closeMenu()"><a scrollTo scrollTargetSelector="#top" class="ds-nav-list__link">Home</a></li>
    <li class="ds-nav-list__item" (click)="closeMenu()"><a scrollTo scrollTargetSelector="#production" class="ds-nav-list__link">Produktion</a></li>
    <li class="ds-nav-list__item" (click)="closeMenu()"><a scrollTo scrollTargetSelector="#products" class="ds-nav-list__link">Produkte</a></li>
    <li class="ds-nav-list__item" (click)="closeMenu()"><a scrollTo scrollTargetSelector="#about" class="ds-nav-list__link">Über uns</a></li>
    <li class="ds-nav-list__item" (click)="closeMenu()"><a scrollTo scrollTargetSelector="#contact" class="ds-nav-list__link">Kontakt</a></li>
  </ul>
</nav>
<div class="an-btn-burger-container">
  <btn-burger [toggled]="menuOpen" (click)="toggleMenu()"></btn-burger>
</div>